<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>Shangde Experimental School</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="minimal-ui">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="libs/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="css/css.css">
</head>

<body>
	<div class="logo bounceInDown animated" style="animation-delay: 0.4s;">
		<img src="images/logo.png">
	</div>
	<div class="miantitle fadeInUp animated" style="animation-delay: 1.4s;">
		<span class="miantitle_t1">WELCOME</span><br/>
		<span class="miantitle_t2">Shangde Experimental School</span>
	</div>
	<div class="welbtn fadeInUp animated" style="animation-delay: 1.6s; animation-duration:2s;">
		<a href="listpage.html">
			Enter
		</a>
	</div>
</body>
</html>
