<!doctype html>
<html lang="zh-CN">
<head>
    {% include "head.html" %}
</head>

<body class="login">
    <header>
        {% include "header.html" %}        
    </header>

    <section class="login-content" id="login-content">
        <div class="login-card" id="login-card">
            <form class="login-form">
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="请输入您的账号">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" placeholder="请输入您的密码">
                </div>

                <button type="submit" class="btn btn-primary btn-block" id="login-btn">登录</button>
            </form>
        </div>
    </section>    

    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/vendor/jquery.particleground.min.js"></script>
    <script src="/js/vendor/jquery.toast.min.js"></script>    
    <script>
        $(document).ready(function () {
            // 粒子系统插件配置            
            $('#login-content').particleground({
                dotColor: '#eaeaea',
                lineColor: '#ccc',
                lineWidth: 0.2,
                particleRadius: 6,
                proximity: 200,
                density: 20000
            });

            $('#login-btn').click(function(e) {
                e.preventDefault();
                login();
            });

            $('#password').keydown(function(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    login();                    
                }
            });

            // 登录
            function login() {
                var username = $('#username').val().trim();
                var password = $('#password').val().trim();
                
                if(validate(username, password)) {
                    $.toast({
                        heading: '登录成功！',
                        showHideTransition: 'slide',
                        icon: 'success',
                        position: 'top-center'
                    });

                    setTimeout(function() {
                        window.location.href = '/calendar.html';
                    }, 1500);
                } else {
                    $.toast({
                        heading: '账号密码有误，请重新输入',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                }
            }

            // 账号校验
            function validate(username, password) {
                if(username === 'admin' && password === '123456') {
                    return true;
                }

                return false;
            }
        });
    </script>
</body>
</html>